.text-center {
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.container-content {
  border: solid 10px #EF626C;
  padding: 20px;

  font-size: 1.5em;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: sans-serif;
  background-color: #FFFFFF;
}

// Import.
@import '_Description';
@import '_ContainerTabs';
@import '_COntentWeb';
