.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.text-center {
  text-align: center;
}

body {
  font-size: 100%;
}

#usage-web {
  padding: 50px 0 50px 0;

  .btn-large {
    width: 100%;
  }
}
