.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.invisible {
  visibility: hidden;
}

body {
  font-size: 100%;
}

#usage-web {

  .btn-large {
    width: 100%;
  };

}

#modal-success {

  .label {
    -webkit-touch-callout: text !important; /* iOS Safari */
    -webkit-user-select: text !important;   /* Chrome/Safari/Opera */
    -khtml-user-select: text !important;    /* Konqueror */
    -moz-user-select: text !important;      /* Firefox */
    -ms-user-select: text !important;       /* Internet Explorer/Edge */
    user-select: text !important;           /* Non-prefixed version, currently */
  };

}

#example-apiurl, #example-apiresponse {
  padding: 25px;
}
